@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --clr-main: #4b33a8;
}
body {
  font-family: "Rubik", sans-serif;
}

h2 {
  color: var(--clr-main);
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.contact__wrapper {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.contact__wrapper h2 {
  margin-top: 20px;
}

.contact-form__wrapper {
  padding: 20px;
}

.btnContact {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  background-color: #785ce9;
  border-radius: 30px;
  padding: 10px 20px;
  transition: background-color 0.3s, border-color 0.3s;
}

.btnContact:hover {
  background-color: white;
  color: #4b33a8;
  border: 2px solid #785ce9;
}

.btnContact:focus {
  outline: none;
}

.center-button {
  display: flex;
  justify-content: center;
}
